.dashboard{
    padding-top: 70px;
}

.dashboard header{
    background: #00F7CE;
    padding: 30px 0;
}

.dashboard .dashboard-title{
    font-size: 30pt;
}

.dashboard .panels{
    /*flex display keeps panels the same height*/
    display: flex;
}

.dashboard .recent-players{
    width: 50%;
}

.dashboard .most-played{
    width: 50%;
}

.dashboard .recent-sessions-header{
    background: rgb(173,173,173);
    text-transform: uppercase;
    font-size: 12pt;
    letter-spacing: 2px;
    height: 25px;
    padding-top: 2px;
}

.dashboard .recent-sessions-header a{
    color: black;
    text-decoration: none;
}

.dashboard .recent-sessions-header a:hover{
    color: black;
    text-decoration: underline;
}

.dashboard .session .title{
    background: rgba(162, 255, 109, 0.8)
}