.dashboard header{
    background: #00F7CE;
    padding: 30px 0;
}

.dashboard .dashboard-title{
    font-size: 30pt;
}

.dashboard .recent-players{
    width: 50%;
    display: inline-block
}

.dashboard .most-played{
    width: 50%;
    display: inline-block
}