footer{
    background-color: #333;
    color: #ccc;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10pt;
}

footer .github-logo{
    width: 30px;
    margin-left: 20px;
}

@media screen and (min-width: 800px){
    footer{
        font-size: inherit;
    }

    footer .github-logo{
        padding-top: 8px;
        width: 35px;
    }
}