.landing-page header{
    background-color: #F5AB35;
    color: white;
    padding: 30px 0;
    /*clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);*/
}

body{
    background: #002D45;
    color: #fff;
}

.landing-page img{
    width: 80vw;
    margin-bottom: 20px;
}

.landing-page h2{
    font-size: 16pt;
    text-transform: lowercase;
    font-style: italic;
}

.landing-page h3{
    font-size: 18pt;
    margin-top: 30px;
}

.landing-page li{
    font-size: 14pt;
    margin: 10px 0;
}

.landing-page .box{
    height: 300px;
}

.landing-page li:nth-child(even){
    background: #003B59;
}