.login{
    padding-top: 100px;
    padding-bottom: 30px;
    background: #00F7CE;
    height: 100%;
}

.login label{
    padding: 5px;
}

.login input{
    margin-bottom: 20px;
}

.login .log-in-error{
    color: #F7097C;
}

.login button{
    margin: 20px;
}

.login .hidden{
    display: none;
}

.loader {
    display: inline-block;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #F7097C; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (min-width: 800px){
    .login{
        display: inline-block;
        width: 70%;
        height: 100vh;
    }
    
    .login h1 {
        font-size: 26pt;
        margin: 30px;
    }
}