.login{
    padding-top: 100px;
    background: #00F7CE;
    height: 100%;
}

.login label{
    padding: 5px;
}

.login input{
    margin-bottom: 20px;
}

.login .log-in-error{
    color: #F7097C;
}

.login button{
    margin: 20px;
}

@media screen and (min-width: 900px){
    .login{
        display: inline-block;
        width: 70%;
        height: 100vh;
    }
    
    .login h1 {
        font-size: 26pt;
        margin: 30px;
    }
}