nav{
    background-color: #333;
    color: #fff;
    height: 60px;
}

nav li{
    display: inline;
    margin-right: 10px;
}

nav a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 3px;
    line-height: 60px;
}

nav a:hover{
    background-color: #555;
}