.session{
    border: 1px solid #fff;
    border-bottom: #ccc;
    overflow: hidden;
}

.session .title:hover{
    cursor: pointer;
}

.session .title{
    font-size: 18pt;
    padding: 10px 0;
}

.session .session-info{
    max-height: 0px;
    transition: all .4s ease;
    background: #fff;
    font-size: 14pt;
}

.session .session-info section{
    padding: 3px 0px;
}

.session .expanded + .session-info{
    max-height: 400px;
    padding: 20px 0px;
}

.session .label{
    font-weight: bold;
}

.session .delete-session{
    background: #F7097C;
    color: white;
    cursor: pointer;
    border: 1px solid #F7097C;
    border-radius: 20px;
    padding: 0px 10px;
    margin-top: 6px;
    display: inline-block;
}