.session{
    border: 1px solid #ccc;
    overflow: hidden;
}

.session .title:hover{
    cursor: pointer;
}

.session .title{
    font-size: 18pt;
    padding: 10px 0;
}

.session .session-info{
    max-height: 0px;
    transition: all .4s ease;
}

.session .expanded + .session-info{
    max-height: 400px;
}

.session .delete-session{
    background: #F7097C;
    color: white;
    cursor: pointer;
    border: 1px solid #F7097C;
    border-radius: 20px;
}