.signup{
    padding-top: 100px;
    background: #00F7CE;
    height: 100%;
}

.signup form{
    background: #fff;
}

.signup .sign-up-error{
    color: #F7097C;
}

@media screen and (min-width: 900px){
    form{
        width: 100%;
    }

    .signup h1 {
        font-size: 26pt;
        margin: 30px;
    }
}